
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
  }
  
  .navbar-brand img {
    border-radius: 50%;
  }
  
  .description {
    margin-top: 20px;
  }
  
  .animated-text {
    background: -webkit-linear-gradient(25deg, #eee, #333);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: type 2s steps(90) 1s 1 normal both, cursor 1s step-end infinite;
    position: relative;
    display: inline-block;
}

@keyframes type {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
